This project uses manually collected data to assess the effectiveness of student protests and encampments at colleges and universities at achieving student demands—namely, divestment of university endowments from companies that do business with Israel.

In [10]:
## import pandas

import pandas as pd

# KEY FOR UNIV. RESPONSE

##### I: The university has not acknowledged student calls for divestment
##### R: The university has rejected student calls for divestment since the encampments began in mid April 
##### R*: The university has not made statements since April 2024 regarding divestment but had stated before then that they will not divest from Israel 
##### N: The university has said they will continue discussing or reviewing demands with students, but has not made any explicit steps towards divestment 
##### F: The university has made concrete steps towards future divestment including setting dates for meetings or votes
##### P: The university has agreed to partially meet student demands for divestment i.e. to divest from weapons manufacturers but not all Israeli companies

In [16]:
## read CSV file
df_divest = pd.read_csv("divestdata.csv")
df_divest

,University,Response,AntiBDS_StateLaw,Type,Source
0,Arizona State U.,I,Yes,Public,https://news.arizona.edu/news/message-presiden...
1,Brown U.,F,Yes,Private,https://www.browndailyherald.com/article/2024/...
2,California State Polytechnic U.-Humboldt,R,Yes,Public,https://www.humboldt.edu/emergency
3,California State U. at Los Angeles,R,Yes,Public,https://www.calstate.edu/csu-system/news/Pages...
4,California State U. at Northridge,R,Yes,Public,https://www.calstate.edu/csu-system/news/Pages...
...,...,...,...,...,...
88,Wake Forest U. (North Carolina),I,Yes,Private,https://president.wfu.edu/2024/05/letter-from-...
89,Washington U. in St. Louis,I,Yes,Private,https://source.wustl.edu/2024/04/statement-reg...
90,Wesleyan U. (Connecticut),F,No,Private,https://roth.blogs.wesleyan.edu/tag/divestment/
91,Western Michigan U.,N,Yes,Public,https://archive.is/Vu7s6
92,Yale U.,R,No,Private,https://yaledailynews.com/blog/2024/04/17/yale...

In [18]:
## Check the number of Universities in each response category

df_divest["Response"].value_counts().to_frame()

          count
Response
R            45
I            22
N            12
F            11
R*            2
P             1

In [32]:
## store the data set 

df_divestresponse = df_divest["Response"].value_counts().to_frame("number of schools")
df_divestresponse

          number of schools
Response
R                        45
I                        22
N                        12
F                        11
R*                        2
P                         1

In [26]:
## turn response dataset into percentages

(df_divest.value_counts("Response", normalize= True )*100).to_frame("Pct_of_Schools")

          Pct_of_Schools
Response
R              48.387097
I              23.655914
N              12.903226
F              11.827957
R*              2.150538
P               1.075269

In [29]:
## Create Dataframes isolating public universities

df_public = df_divest.query('Type == "Public"')
df_public.head()

,University,Response,AntiBDS_StateLaw,Type,Source
3,California State U. at Los Angeles,R,Yes,Public,https://www.calstate.edu/csu-system/news/Pages...
4,California State U. at Northridge,R,Yes,Public,https://www.calstate.edu/csu-system/news/Pages...
7,City University of New York,R,Yes,Public,https://www.cuny.edu/about/administration/offi...
13,Evergreen State College,F,No,Public,https://www.evergreen.edu/sites/default/files/...
14,Fashion Institute of Technology,I,Yes,Public,https://archive.is/dpcgr

In [37]:
## Calculate response breakdown for public colleges and universities

df_divestresponsepublic = df_public["Response"].value_counts().to_frame("number of public schools")
df_divestresponsepublic

          number of public schools
Response
R                               25
I                               16
N                                6
F                                3
P                                1
R*                               1

In [33]:
## turn public response dataset into percentages
(df_public.value_counts("Response", normalize= True )*100).to_frame("Pct_PublicSchools")

          Pct_PublicSchools
Response
R                 48.076923
I                 30.769231
N                 11.538462
F                  5.769231
P                  1.923077
R*                 1.923077

In [34]:
## Create Dataframe isolating private universities

df_private = df_divest.query('Type == "Private"')
df_private.head()

,University,Response,AntiBDS_StateLaw,Type,Source
1,Brown U.,F,Yes,Private,https://www.browndailyherald.com/article/2024/...
5,Case Western Reserve U. (Ohio),R,Yes,Private,https://case.edu/president/speeches-statements...
6,Chapman University,F,Yes,Private,https://www.ocregister.com/2024/05/16/chapman-...
8,Columbia U.,R,Yes,Private,https://president.columbia.edu/news/statement-...
9,Cornell U.,I,Yes,Private,https://www.timesofisrael.com/pro-palestinian-...

In [36]:
## Calculate response breakdown for private colleges and universities

df_divestresponseprivate = df_private["Response"].value_counts().to_frame("number of private schools")
df_divestresponseprivate

          number of private schools
Response
R                                19
F                                 8
N                                 6
I                                 5
R*                                1

In [38]:
## turn public school dataset into percentages for each unique response

(df_private.value_counts("Response", normalize= True )*100).to_frame("Pct_PrivateSchools")

          Pct_PrivateSchools
Response
R                  48.717949
F                  20.512821
N                  15.384615
I                  12.820513
R*                  2.564103